<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/stream.css" media="screen" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/filter.min.js" type="text/javascript"></script>
    <script src="assets/js/mustache.min.js" type="text/javascript"></script>
    <script src="data/data.js" type="text/javascript"></script>
    <script src="auto.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">#HackRisques : Comment mieux prévenir les risques naturels ? <a class="btn btn-success" href="http://www.developpement-durable.gouv.fr/HackRisques-comment-mieux-prevenir.html">+ d'infos</a></h1>
      <hr>
      <div class="sidebar col-md-3">
        <div>
          <h4>Jeux de données <span id="total_movies" class="label label-info">0</span></h4>
        </div>
        <div>
          <label class="sr-only" for="searchbox">Search</label>
          <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;" fjs-search>
          <span class="glyphicon glyphicon-search search-icon"></span>
        </div>
        <br>
        <div id="target">Loading...</div>

      </div>
      <div class="col-md-9">
        <div class="movies content row" id="movies" fjs-items="template=#data-template"></div>
      </div>
    </div>
  </div>
</div>

<script id="data-template" type="text/html">
<div class="col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <h4> <b><%= acronyme %></b> / <%= intitulé %>
        <a target="_blank" class="label label-success" href="<%= lien %>"> <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Télécharger</a> </h4>
        <table class="table table-condensed">
        <tr>
          <th>Nature de la donnée</th>
          <td><%= natureDeLaDonnée %></td>
          <th>Groupe</th>
          <td><%= groupe %></td>
        </tr>

        <tr>
            <th>Thématique principale</th>
            <td><%= thématiquePrincipale %></td>
            <th>Opérateur</th>
            <td><%= opérateur %></td>
        </tr>
        <tr>
            <th>Mots clefs</th>
            <td><%= motsClefs %></td>
            <th>Millésimes proposés</th>
            <td><%= millésimesProposés %></td>
        </tr>
        <tr>
            <th>Disponibilité des données</th>
            <td><%= disponibilitéDesDonnées %></td>
            <th>CGU</th>
            <td><%= cgu %></td>
        </tr>
        <tr>
            <th>Documentation technique</th>
            <td><%= documentationTechnique %></td>
            <th>Documentation méthodologique</th>
            <td><%= documentationMéthodologique %></td>
        </tr>
        <tr>
            <th>Exemple de réutilisation</th>
            <td><%= exempleDeRéutilisation %></td>
            <th>Champ géographique</th>
            <td><%= champGéographique %></td>
        </tr>
        <tr>
            <th>Maille</th>
            <td><%= maille %></td>
            <th>Niveau de restitution</th>
            <td><%= niveauDeRestitution %></td>
        </tr>
        <tr>
            <th>Format</th>
            <td><%= format %></td>
            <th>Nombre de jeux de données</th>
            <td><%= nombreDeJeuxDeDonnées %></td>
        </tr>
        </table>
        <div class="detail">
          <%= commentaire %>
        </div>
      </div>
    </div>
    </div>
</script>
<!-- <script id="genre_template" type="text/html">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="<%= genre %>"> <%= genre %>
    </label>
  </div>
</script> -->
<script id="template" type="x-tmpl-mustache">

<div class="well">
<fieldset id="groupe_criteria">
<legend>Groupe</legend>
{{#groupe}}
<div id="groupe">
  <div class="checkbox" fjs-criteria="field=groupe,ele=#groupes input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/groupe}}
</fieldset>
</div>

<div class="well">
<fieldset id="cgu_criteria">
<legend>CGU</legend>
{{#cgu}}
<div id="cgu">
  <div class="checkbox" fjs-criteria="field=cgu,ele=#cgus input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/cgu}}
</fieldset>
</div>

<div class="well">
<fieldset id="natureDeLaDonnée_criteria">
<legend>Nature de la donnée</legend>
{{#natureDeLaDonnée}}
<div id="natureDeLaDonnée">
  <div class="checkbox" fjs-criteria="field=natureDeLaDonnée,ele=#natureDeLaDonnées input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/natureDeLaDonnée}}
</fieldset>
</div>


<div class="well">
<fieldset id="champGéographique_criteria">
<legend>Champ géographique</legend>
{{#champGéographique}}
<div id="champGéographique">
  <div class="checkbox" fjs-criteria="field=champGéographique,ele=#champGéographiques input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/champGéographique}}
</fieldset>
</div>

<div class="well">
<fieldset id="maille_criteria">
<legend>Maille</legend>
{{#maille}}
<div id="maille">
  <div class="checkbox" fjs-criteria="field=maille,ele=#mailles input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/maille}}
</fieldset>
</div>

<div class="well">
<fieldset id="niveauDeRestitution_criteria">
<legend>Niveau de restitution</legend>
{{#niveauDeRestitution}}
<div id="niveauDeRestitution">
  <div class="checkbox" fjs-criteria="field=niveauDeRestitution,ele=#niveauDeRestitutions input:checkbox">
    <label>
      <input type="checkbox" value="{{.}}">
      <span>{{.}}</span>
    </label>
  </div>
</div>
{{/niveauDeRestitution}}
</fieldset>
</div>

</script>
<div class="container">
<span class="text-muted small">© 2016 - Ministère de l'Environnement, de l'Energie et de la Mer</span>
</div>
  </body>
</html>
